<app-navbar></app-navbar>

<div class="container">
  <br><br>
  <h1>Register</h1>
  <br>
  <form #registroForm="ngForm" (ngSubmit)="registrar()">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" id="name"
        placeholder="Name">
    </div>

    <div class="form-group">
      <label for="lastname">LastName</label>
      <input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname" class="form-control"
        id="lastname" placeholder="LastName">
    </div>

    <div class="form-group">
      <label for="Email">Email</label>
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" id="Email"
        placeholder="Email">
    </div>

    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control"
        id="Password" placeholder="Password">
    </div>

    <div class="form-group">
      <label for="rol">Rol</label>
      <input type="text" name="rol" #rol="ngModel" [(ngModel)]="user.rol" class="form-control" id="rol"
        placeholder="admin o supervisor">
    </div>

    <div class="form-group">
      <label for="job">Job</label>
      <input type="text" name="job" #job="ngModel" [(ngModel)]="user.job" class="form-control" id="job"
        placeholder="Job">
    </div>


    <div>
      <label for="number" class="col-form-label">Number</label>
      <div class="form-group input-group-prepend">
        <div class="input-group-text">+502</div>
        <input type="number" class="form-control number" id="number" name="number" #number="ngModel"
          [(ngModel)]="user.number" placeholder="Number">
      </div>
    </div>

    <div class="form-group">
      <label for="company">Company</label>
      <input type="text" name="company" #company="ngModel" [(ngModel)]="user.company" class="form-control" id="company"
        placeholder="Company">
    </div>

    <div class="form-group">
        <label for="area">Area</label>
        <input type="text" name="area" #area="ngModel" [(ngModel)]="user.area" class="form-control" id="area"
          placeholder="Area">
      </div>

      <div class="form-group">
          <label for="Level">level</label>
          <input type="text" name="level" #level="ngModel" [(ngModel)]="user.level" class="form-control" id="level"
            placeholder="Level">
        </div>

    <button type="submit" class="btn btn-outline-primary btn-block">Register</button>

  </form>
  <br>
</div>