<app-navbar></app-navbar>

<button class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#modalAddUser" (click)="limpiarForm()">Agregar
    Usuario</button>
    <br>

<div class="container">

    <!--///////////////////////////--------------------------CARD ----------------------------------///////////////////////-->
    <div class="row">
        <div class="col-md" *ngFor="let us of user">
            <div class="card cardUser" style="width: 18rem;">
                <div class="cardImage">
                    <img src="/assets/users.png" class="card-img-top logo" alt="...">
                    <div class="verUser">
                        <button class="btn btn-outline-primary ver btn-block" data-toggle="modal"
                            data-target="#modalVerUser" (click)="setId(us._id);setName(us.name);setLastName(us.lastname);setEmail(us.email);setRol(us.rol);setJob(us.job);setNumber(us.number);
              setCompany(us.company);setArea(us.area);setLevel(us.level);">See</button>
                        <br>
                        <button type="button" class="btn btn-outline-warning btn-block" data-target="#modalEditarUser"
                            data-toggle="modal" (click)="setId(us._id);setName(us.name);setLastName(us.lastname);setEmail(us.email);setRol(us.rol);setJob(us.job);setNumber(us.number);
              setCompany(us.company);setArea(us.area);setLevel(us.level);">Update</button>
                        <br>
                        <button type="button" class="btn btn-outline-danger btn-block" data-target="#modalEliminarUser"
                            data-toggle="modal" (click)="setId(us._id)">Delete</button>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{us.name}}</h5>
                    <h5 class="card-title">{{us._id}}</h5>
                    <button class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#modalAddTask"
                        (click)="getUser(us._id);limpiarFormT()">Agregar Tarea</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-------------------------------MODAL AGREGAR USER------------------------->

<div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form #formAddUser="ngForm" (ngSubmit)="crearUsuario()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Agregar User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger" role="alert" *ngIf="status == 'error'">
                        Solo Admin o Supervisor pueden Agregar Usuario
                    </div>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control"
                            id="name" placeholder="Name">
                    </div>

                    <div class="form-group">
                        <label for="lastname">LastName</label>
                        <input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname"
                            class="form-control" id="lastname" placeholder="LastName">
                    </div>

                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control"
                            id="Email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password"
                            class="form-control" id="Password" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <label for="job">Job</label>
                        <input type="text" name="job" #job="ngModel" [(ngModel)]="user.job" class="form-control"
                            id="job" placeholder="Job">
                    </div>


                    <div>
                        <label for="number" class="col-form-label">Number</label>
                        <div class="form-group input-group-prepend">
                            <div class="input-group-text">+502</div>
                            <input type="number" class="form-control number" id="number" name="number" #number="ngModel"
                                [(ngModel)]="user.number" placeholder="Number">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="company">Company</label>
                        <input type="text" name="company" #company="ngModel" [(ngModel)]="user.company"
                            class="form-control" id="company" placeholder="Company">
                    </div>

                    <div class="form-group">
                        <label for="area">Area</label>
                        <input type="text" name="area" #area="ngModel" [(ngModel)]="user.area" class="form-control"
                            id="area" placeholder="Area">
                    </div>

                    <div class="form-group">
                        <label for="Level">level</label>
                        <input type="text" name="level" #level="ngModel" [(ngModel)]="user.level" class="form-control"
                            id="level" placeholder="Level">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>


